@model Openccpm.Web.Models.StartEndTime

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StartEndTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPlan)
        </dd>
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
