@model Openccpm.Lib.Models.Project

@{
    ViewData["Title"] = "Details";
    var TicketsSum = ViewBag.TicketSum as List<Tuple<string, string, int, int, int>>;

}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <h4>チケットのトラッキング</h4>

    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td><a href="@Model.ProjectNo/Tickets?isclosed=0">未完了</a></td>
                <td><a href="@Model.ProjectNo/Tickets?isclosed=1">完了</a></td>
                <td><a href="@Model.ProjectNo/Tickets">合計</a></td>
            </tr>
        </thead>
        <tbody>
@foreach (var it in TicketsSum)
{
            <tr>
                <td>
                    <a href="@Model.ProjectNo/Tickets?trackerid=@it.Item1">
                        @it.Item2
                    </a>
                <td>
                    <a href="@Model.ProjectNo/Tickets?trackerid=@it.Item1&isclosed=0">
                        @it.Item3
                    </a>
                </td>
                <td>
                    <a href="@Model.ProjectNo/Tickets?trackerid=@it.Item1&isclosed=1">
                        @it.Item4
                    </a>
                </td>
                <td>
                    <a href="@Model.ProjectNo/Tickets?trackerid=@it.Item1">
                        @it.Item5
                    </a>
                </td>
            </tr>
}
        </tbody>
    </table>

</div>

<div>
    <a href="@Model.ProjectNo/Tickets">すべてのチケットを表示</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
