@model Openccpm.Web.Models.TaskItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoneTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoneTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
