@model Openccpm.Web.Models.TicketView

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoneTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoneTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tracker_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tracker_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo_FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedTo_LastName)
            @Html.DisplayFor(model => model.AssignedTo_FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoneRate) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoneRate) %
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate) 
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="~/Projects/@Model.Project_ProjectNo/Tickets">Back to List</a>
</div>
