@model IEnumerable<Openccpm.Web.Models.TicketView>

@{
    ViewData["Title"] = "Index";
}

<h2>
    <a asp-action="Details" asp-controller="Projects" asp-route-id="@ViewBag.ProjectNo">
        @ViewBag.ProjectNo
    </a>
        @ViewBag.ProjectName
</h2>

<p>
    <a href="Tickets/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tracker_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTo_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.TaskNo)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tracker_Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status_Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Priority_Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(model => item.Subject)
                </a>
            </td>
            <td>
                @Html.DisplayFor(model => item.AssignedTo_LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
